name: Build Lambda Layer (Python 3.12 with MSAL)

on:
  workflow_dispatch:

jobs:
  build-layer:
    runs-on: ubuntu-latest

    container:
      image: amazonlinux:2023

    steps:
      - name: Install dependencies
        run: |
          dnf install -y python3.12 python3.12-pip zip

      - name: Prepare layer folder
        run: |
          mkdir -p layer/python
          cd layer/python
          pip3.12 install msal -t .
          pip3.12 install cryptography requests PyJWT -t .

      - name: Zip layer
        run: |
          cd layer
          zip -r msal_layer_python312.zip python

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: msal_layer_python312
          path: layer/msal_layer_python312.zip
